* {
  margin: 0;
  font-family: "Kumbh Sans";
}

main {
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  background-image: url("./img/bg-pattern-top.svg"), url("./img/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 360px;
  background-color: white;
  border-radius: 20px;
}

.top {
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url("img/bg-pattern-card.svg");
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.avatar {
  width: 90px;
  height: 90px;
  position: relative;
  top: 100px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: rgb(45, 89, 235)
}

.info {
  font-size: 18px;
}

.user_info {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 25px;
}

.name_age {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.name_age p:first-child {
  font-weight: 700;
}

.name_age p:last-child,
.user_info p:last-child {
  color: rgb(102, 102, 102)
}

.social_numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.24)
}

.number {
  padding: 25px 0;
  font-weight: 700;
}

.number p:last-child {
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .card {
    width: 90%;
  }
}